<st [header]="header" [data]="data" [columns]="columns" [loading]="loading">
  <ng-template #header>
    <div nz-row [nzGutter]="[16, 24]">
      <div nz-col nzSpan="16">
        <button nz-button nzType="primary" [routerLink]="add">新建</button>
      </div>
      <div nz-col nzSpan="8" class="text-right">
        <button nz-button nzType="text" (click)="reload(true)">
          <span nz-icon nzType="reload" nzTheme="outline"></span>
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template st-row="hosts" let-item let-index="index">
    @for (i of item.hosts; track $index) {
      <nz-tag nzColor="blue">{{ i }}</nz-tag>
    }
  </ng-template>
  <ng-template st-row="paths" let-item let-index="index">
    @for (i of item.paths; track $index) {
      <nz-tag nzColor="blue">{{ i }}</nz-tag>
    }
  </ng-template>
  <ng-template st-row="protocols" let-item let-index="index">
    @for (i of item.protocols; track $index) {
      <nz-tag nzColor="blue">{{ i }}</nz-tag>
    }
  </ng-template>
</st>
