<page-header title="控制台" />
<div nz-row [nzGutter]="8">
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
    <nz-card nzTitle="访问控制">
      <div>
        <a routerLink="/auth/ability">权限点</a>
      </div>
      <div>
        <a routerLink="/auth/role">角色</a>
      </div>
      <div>
        <a routerLink="/auth/user">用户</a>
      </div>
      <div>
        <a routerLink="/auth/token">令牌</a>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
    <nz-card nzTitle="KONG">
      <div>
        <a routerLink="/kong/instance">实例</a>
      </div>
      <div>
        <a routerLink="/kong/list/route">路由</a>
      </div>
      <div>
        <a routerLink="/kong/list/service">服务</a>
      </div>
      <div>
        <a routerLink="/kong/list/upstream">上游</a>
      </div>
      <div>
        <a routerLink="/kong/list/ssl">证书</a>
      </div>
      <div>
        <a routerLink="/kong/list/plugin">插件</a>
      </div>
    </nz-card>
  </div>
</div>
