<layout-default [options]="options" [content]="content" [customError]="null">
  <layout-default-header-item direction="left" hidden="mobile">
    <a layout-default-header-item-trigger routerLink="/passport/lock">
      <i nz-icon nzType="lock"></i>
    </a>
  </layout-default-header-item>
  <layout-default-header-item direction="right" hidden="mobile">
    <div layout-default-header-item-trigger nz-dropdown [nzDropdownMenu]="settingsMenu" nzTrigger="click" nzPlacement="bottomRight">
      <i nz-icon nzType="setting"></i>
    </div>
    <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
      <div nz-menu style="width: 200px">
        <div nz-menu-item>
          <header-fullscreen />
        </div>
        <div nz-menu-item>
          <header-clear-storage />
        </div>
      </div>
    </nz-dropdown-menu>
  </layout-default-header-item>
  <layout-default-header-item direction="right">
    <header-user />
  </layout-default-header-item>
  <ng-template #content>
    <nz-water-mark [nzContent]="mark">
      <router-outlet />
    </nz-water-mark>
  </ng-template>
</layout-default>
